:root {
    --primary: rgb(23, 165, 30);
    --lighter: #FFFFFF;
    --contrast: #666C74;
    --darker: #000000;
    --duration: .3s;
}

* {
    box-sizing: border-box;
}

::selection {
    background: #247C18A8;
    color: var(--lighter);
}

body {
    line-height: 1.4;

    background: var(--lighter);

    font-size: 16px;
    font-family: 'ubuntu';
}

.animated-link {
    display: inline;

    background: linear-gradient(to top, var(--contrast) 0%, var(--contrast) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    
    transition: background-size var(--duration);
}

.animated-link:hover {
    background-size: 100% 100%;
}

.card {
    position: absolute;

    top: 50%;
    left: 50%;

    overflow: hidden;

    width: 300px;

    background: var(--lighter);

    transform: translateX(-50%) translateY(-50%);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    transition: var(--duration);
}

.card a {
    text-decoration: none;
}

.card__thumb {
    height: 250px;

    overflow: hidden;

    background: var(--darker);

    opacity: 1;

    transition: var(--duration);
}

.card:hover .card__thumb {
    height: 145px;
}

.card__thumb img {
    display: block;

    opacity: 1;

    transform: scale(1);

    transition: opacity var(--duration), transform var(--duration);
}

.card:hover .card__thumb img{
    opacity: .6;

    transform: scale(1.2);
}

.card__body {
    position: relative;

    height: 165px;

    padding: 20px;

    overflow: hidden;

    transition: height var(--duration);
}

.card:hover .card__body {
    height: calc(165px + 105px);
}

.card__title {
    margin: 0;
    padding: 0 0 10px 0;

    color: var(--darker);

    font-size: 22px;
    font-weight: bold;
}

.card__categories {
    margin: 0;
    padding: 0;
}

.card__category {
    color: var(--primary);

    font-size: 16px;
}

.card__description {
    margin: 20px 0 0 0;

    line-height: 27px;

    color: var(--contrast);

    font-size: 16px;

    opacity: 0;

    transition: opacity var(--duration);
}

.card:hover .card__description {
    opacity: 1;
}

.card__separator {
    margin: 0 20px;
    border: 1px solid var(--contrast);
}

.card__footer {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    padding: 20px;
}

.card__button {
    grid-column: 1;

    justify-self: center;    

    background: var(--lighter);

    border: none;
}

.card__button--a {
    color: var(--primary);

    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.card__date {
    grid-column: 2;

    justify-self: center;

    color: var(--contrast);
}